.header{
    padding: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    flex: 1;
}

.idc-logo{
    width: 200px;
    height: 100px;
    overflow: hidden;
    display:contents;
}

.idc-logo img{
    max-width: 100%;
    height: auto;
    display: block;
}

.subject{
    font-size: 1.2em;
    font-style: normal;
    color: #3C3C3C;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    text-align: end;
}

.maamla{
    text-align: center;
    position: absolute;
    padding-top: 2em;
    display: flex;           
    flex-direction: column;  
    justify-content: center;
    align-items: center;  
    padding: 7em;   
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%
}

.title{
    font-size: 5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}

.subtitle{
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; 
    padding: 1.2em;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DA0B77;
    --bs-btn-border-color: #DA0B77;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F12A92;
    --bs-btn-hover-border-color: #F12A92;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F12A92;
    --bs-btn-active-border-color: #F12A92;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    font-size: 1.5em;
    margin: .4em;
}