<div class="container-fluid">
    <div class="row header">
        <div class="col idc-logo">
        <img src="assets/idcLogo.png">
        </div>
        <div class="col subject">
            DE 626 Human factors
        </div>
    </div>
</div>

<div class="container-fluid maamla">
    <div class="row title">
        Loading Time Enigma
    </div>
    <div class="row subtitle">
        Estimate the duration required for the loader to finish.
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg" (click)="navigateToLoaderSelection()">Get Started</button>
    </div>
</div>

