<div class="row header">
  <div class="col reset">
    <button class="btn btn-primary" (click)="resetSession()" (mouseenter)="isHover = true"
    (mouseleave)="isHover = false">
      <img [src]="isHover ? 'assets/Back_hover.png' : 'assets/Back.png'" style="width: 30px; margin: 10px; padding-right: 5px;">
      Reset &nbsp;&nbsp; 
    </button>
</div>

<div class="container-fluid" style="padding-left: 0; padding-right: 5em;">
  <div class="row" style="display: flex;">
    <div class="col-lg-5 title">
      Select the loader
    </div>
    <div class="col-lg-7">
      <div class="row cards">
        <div class="col-lg-3 tile" *ngFor="let loader of loaders">
          <div class="card" style="width: 18rem;" (click)="selectLoader(loader.id, loader.duration)">
            <img class="card-img-top" [src]="loader.seen ? 'assets/tick.png' : loader.thumbnail" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-text">{{ loader.name }}</h5>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>